---
facebook_href: "https://www.facebook.com/studentbeans"
twitter_href: "https://twitter.com/studentbeans"
---

<%= partial "partials/global/header" %>  
<table class="container main-content">
  <tr>
    <td>
      <%= partial "partials/blocks/deals__campaign__header" %>  
      <%= partial "partials/blocks/deals__full-width" %>  
      <%= partial "partials/blocks/deals__full-width" %>  
      <%= partial "partials/blocks/deals__listings" %>  
      <%= partial "partials/blocks/deals__half-width" %>  
      <%= partial "partials/blocks/deals__brand-list" %>  
    </td>
  </tr>
</table>
<%= partial "partials/global/banner" %>
<%= partial "partials/global/footer" %>
