---
facebook_href: "https://www.facebook.com/studentbeans"
twitter_href: "https://twitter.com/studentbeans"
---

<%= partial "partials/global/header" %>  
<table class="container main-content">
  <tr>
    <td>
      <%= partial "partials/blocks/deals__header" %>  
      <!-- Feature deal -->
      <%= partial "partials/blocks/deals__feature" %>  
      <%= partial "partials/blocks/deals__primary-deal__img-right" %>  
      <%= partial "partials/blocks/deals__primary-deal__img-left" %>  
      <%= partial "partials/blocks/deals__half-width" %>  
      <%= partial "partials/blocks/banner__cta" %>  
      <%= partial "partials/blocks/deals__campaign__half-width" %>  
      <%= partial "partials/blocks/deals__brand-list" %>  
    </td>
  </tr>
</table>
<%= partial "partials/global/banner" %>
<%= partial "partials/global/footer" %>
