---
facebook_href: "https://www.facebook.com/studentbeans"
twitter_href: "https://twitter.com/studentbeans"
---

<%= partial "partials/global/header" %>  
<table class="container main-content">
  <tr>
    <td>
      <%= partial "partials/blocks/mag__header" %>  
      <%= partial "partials/blocks/mag__text" %>  
      <%= partial "partials/blocks/mag__article__half-width" %>  
      <%= partial "partials/blocks/mag__signoff" %>  
    </td>
  </tr>
</table>
<%= partial "partials/global/banner" %>
<%= partial "partials/global/footer" %>
